.figures {
    border: 1px solid #000;
    border-right: none;
    flex-basis: 300px;
}

.figures__header {
    background-color: #ffc53b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.figures__workspace {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 500px;
}