.figures {
    grid-row: 2/4;
    grid-column: 2/3;
}

.figures__header {
    background-color: #ffc53b;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.figures__workspace {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    height: 500px;
}