.canvas__header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ffc53b;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.canvas__workspace {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid #000;
    height: 100vh;
    position: relative;
}

.canvas__workspace div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}